<div class='w-full overflow-hidden rounded-lg border border-gray-200 bg-white shadow-lg'>
    <div class='m-5'>
        <h2 class='font-bold text-lg'>前回のスコア</h2>
        <p class='mt-4 text-sm text-gray-500'>受験履歴はまだありません。</p>
    </div>
</div>
