<div class='flex mb-8'>
    <%= render 'shared/score_report_card',
               title: '前回のスコア',
               examination: examination,
               score: examination.score,
               report_link: true %>
</div>
