services:
  web:
    # build: .でdocker-compose.ymlと同じフォルダにDockerfileがあることを示す
    build: .
    # 毎回 rm tmp/pids/server.pid するのも手間であるため事前に手元で/tmp/pids/server.pidを削除する
    command: bash -c "rm -f tmp/pids/server.pid && bin/dev"
    volumes:
      - .:/app
      - gem_data:/usr/local/bundle
    ports:
      - 3000:3000
    depends_on:
      - db
    # railsでpryする用
    # true を指定することでコンテナを起動させ続ける。   
    tty: true
    # stdin_openとは標準入出力とエラー出力をコンテナに結びつける設定
    stdin_open: true

  db:
    image: postgres:16
    # m1 は image によっては platform 指定が必要な場合があるため、必要に応じて指定する
    # platform: linux/amd64
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # 環境変数
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: app_development
      TZ: "Asia/Tokyo"
    ports:
      - "5432:5432"

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  sidekiq:
    build: .
    environment:
      REDIS_URL: "redis://redis:6379"
    command: bundle exec sidekiq
    volumes:
      - .:/app
      - gem_data:/usr/local/bundle
    depends_on:
      - redis
      - db
    tty: true
    stdin_open: true
# PC上にdb-volumeという名前でデータ領域が作成される
# コンテナを作り直したとしてもPC上に残るようにするために設定
volumes:
  gem_data:
  postgres_data:
  redis_data:
